:root{
    --header_bg: #15318f;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #fff;
}

[class $= "__container"]{
    width: 90%;
    margin: 0 auto;
}

img{
    max-width: 100%;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

.header__bg{
    height: 60rem;
    background-image: url(img/img5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

/* Header */

